---
import MaskPlayground from "@/react/MaskPlayground.jsx";
import Layout from "@layouts/Layout.astro";


---

<Layout>

	<main class="container">

		<MaskPlayground client:only="react" />
	
		<div></div>

	</main>
	
</Layout>

<style>

	div {
		height: 150vh;
	}
</style>
