---
const name = "Franco Javier Gadea";
const url = "https://francojaviergadea.github.io";
---

<footer class="container">


    <p>
        Developed by <a href={url} target="_blank" rel="noopener noreferrer">{name}</a>
    </p>
</footer>


<style>

    footer {
        max-width: 600px;
        margin: auto;
        position: relative;
        left: -50px;
    }
    p {
        font-family: var(--texts-font);
        letter-spacing: 2px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: var(--halloween-orange-color, orange);
        }
    }
</style>