---



---


<header class="container">
    <div>
        <h1><span>Halloween</span> Hackathon</h1>
    </div>

</header>

<style>

    header {
        max-width: 700px;
        margin: auto;
        padding: 20px;


        h1 {
            font-family: var(--creepy-font);
            font-size: clamp(35px, 5vw, 75px);
            letter-spacing: 4px;
            text-align: center;

            span {
                color: var(--halloween-orange-color, orange);
            }
        }
    
        .Header-logo {
            width: 130px;
            margin-left: auto;
        }
    }

</style>