.Mask-Playground {

    padding: 10px;
    background-color: rgb(44, 44, 44);

    .Images-container {

        display: flex;
        justify-content: space-around;
        
        .Original-image, .Transform-image {
            
            width: 400px;
            height: 400px;
    
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .Mask-Playground-controls {

        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        .btn-active {
            --bs-btn-bg: var(--halloween-orange-color, orange);
            --bs-btn-hover-bg: var(--halloween-orange-color, orange);
        }
        img {
            width: 30px;
        }
    }
}