---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import "@/css/basic-loader.css";

import Background from "@components/Background.astro";
import Header from "@components/Header.astro";
import Fonts from "@components/Fonts.astro";
import Footer from "@components/Footer.astro";
import SEO from "@components/SEO.astro";

const {title} = Astro.props;
---

<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <Fonts />

        <SEO />

        <title>{title}</title>

        <link rel="icon" type="image/svg" href="/favicon.svg">

    </head>
    <body>
        <script is:inline src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
        
        <Background>

            <Header />

            <slot/>

            <Footer />

        </Background>

       
    </body>
</html>


<style is:global>
    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --bs-body-bg: #000;
        --halloween-orange-color: #ff791f;
        color-scheme: dark;
    }

    body {


    }
</style>